header {
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 1rem;
}

p {
  margin: 18px 5px 0 auto;
}

.slider-box {
  width: 18%;
  display: flex;
  flex-direction: column;
}

/* .slider-label {
  display: flex;
  justify-content: space-between;
  padding: 0 5px;
} */

/* .slider-range {
  max-width: 100%;
  -webkit-appearance: none;/
  appearance: none;
  border-radius: 999px;
  padding: 2px 4px;
  background-color: #232c43;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.slider-range::-webkit-slider-thumb {
  -webkit-appearance: none; 
  appearance: none;
  width: 12px;
  height: 12px;
  background-color: #d03f2f;
  cursor: pointer;
}

.slider-range::-moz-range-thumb {
  width: 12px;
  height: 12px;
  background-color: #d03f2f;
  cursor: pointer;
  border: 0;
} */
